.ch2 span {
    padding: 4px 10px;
    border-radius: 10em;
    font-size: .8em;
    box-shadow: 0 0 3px #333;
    margin-right: 10px;
}
.ch2 small {
    font-size: .5em;
}
.rm {
    width: 100%;
}
.rm .card-img-top {
    border-radius: 0!important;
    height: 350px;
}
.cb {
    margin-top: -7em;
    background-color: rgba(255,255,255,.5);
    transition: all .3s;
}
.cb:hover {
    background-color: rgba(0,0,0,.8);
    color: #FFF;
    transition: all .3s;
}
.head {
    margin-bottom: -1.6em;
    background-color: rgba(255,255,255,.5);
    padding: 5px;
    z-index: 1;
}