<div class="container">
  <div class="row"> 
      <div>
      <div class="container col-sm-4 col-sm-4" *ngFor=" let new of data">
<div id="display" class="card">
          
          <a href="{{new.poster_path}}" target="blank">
            <img class="card-img-top" src="http://image.tmdb.org/t/p/w300/{{new.poster_path}}" width="20%"></a>
          <div class="card-block">
              
              <h4 class="card-title mt-3">{{new.title}}</h4>
              <div class="meta card-text">
                  <a>Rating:{{new.vote_average}}</a><br>
                  <a>Release Date:{{new.release_date}}</a>
              </div>
             
          </div>
                    <div class="card-footer">
              <small>comments:{{new.comments}}</small>

          </div>
          <div class="card-footer">
          <button class="btn btn-info float-right btn-md" (click)="deleteObject(new)">Delete</button>
          <input type="text" #review placeholder="Review">
        <button class="btn btn-info float-centre btn-md " (click)="updateData(new,review.value)">Update</button>
        
        </div>
        </div>
        </div>
        </div>
        </div>


         <!-- <app-update *ngIf="update" [new]="update"  ></app-update>  -->
        </div>